
body {
    background-color: #eff30c;
    font-family: Arial, sans-serif;
    color: #333333;
  }
  
  h1 {
    color: #1631c9;
    font-size: 28px;
  }
  
  #conteudo {
    padding: 20px;
    background-color:#01a144 ;
    border: 1px solid #cccccc;
  }
  
  img {
    width: 200px;
    height: 150px;
    
  }
  
  a {
    color: #0000ff;
  }
  
  button {
    background-color: #01a144;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  