@charset "UTF-8";
body{
background-image:linear-gradient(to right, rgb(224, 96, 96),rgb(154, 100, 63));
}

main{

    position: absolute;
    top: 87px;
    left: 438px;
    width: 500px;
    height: 380px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;
    font-weight: bolder;
}

figure{
    position: relative;
    left: 17px;
    top: 98px;
    width: 350px;
    height: 372px;
    background-color: aqua;
}
img{
    width: 100%;
    height: 100%;
}
div{
    width: 236px;
    height: 360px;
    position: relative;
    top: -266px;
    left: 1063px;
}



button{

    position: relative;
    bottom: 100px;
    right: 100px;
}

div.video{
    background-color: yellow;
    width: 600px;
    height: 360px;
    position: absolute;
    top: 79%;
    left: 29%;
}

div.video>iframe{
    width: 100%;
    height: 100%;
}

nav{

    background-image:linear-gradient(to right, rgb(241, 241, 241), rgb(147, 119, 67));
    padding: 12px;
    box-shadow: 2px 1px 3px;
    
}


nav>a:link,nav>a:visited{
        
           
              
    padding:  6px 6px 6px 6px;
    text-decoration: none;
    font-size: 1.2em;
    transition-duration: .3s;
    background-color: rgb(34, 106, 106);
    border-radius: 20%;
   
    border: 2px solid black;
        }

        nav > a:hover{

            background-color: rgb(21, 45, 37);
        }

        *{
            margin: 0px;
            padding: 0px;
              
                }
          